name: Update Flex endpoint

on:
    push:
        branches:
            - main

defaults:
    run:
        shell: bash

jobs:
    flex-update:
        name: Update Flex endpoint
        runs-on: ubuntu-latest

        steps:
            -   name: Checkout
                uses: actions/checkout@v4
                with:
                    fetch-depth: 0

            -   name: Set up PHP
                uses: shivammathur/setup-php@v2
                with:
                    php-version: 8.2
                    coverage: none

            -   name: Install tools
                run: |
                    git config --global user.email ""
                    git config --global user.name "github-action[bot]"
                    cd .github
                    wget -q -O recipes-checker.zip https://codeload.github.com/symfony-tools/recipes-checker/zip/refs/heads/main
                    unzip recipes-checker.zip
                    cd recipes-checker-main
                    composer install --ansi --no-dev

            -   name: Update Flex endpoint
                run: |
                    mkdir .github/flex-endpoint
                    git ls-tree HEAD neuralglitch/*/*/ | php .github/recipes-checker-main/run generate:flex-endpoint neuralglitch/symfony-recipes main flex/main .github/flex-endpoint --contrib
                    git switch flex/main
                    git rm -q *.json || true
                    mv .github/flex-endpoint/*.json .
                    git add *.json
                    cp -a .github/flex-endpoint/archived . 2>/dev/null || true
                    git add archived/ 2>/dev/null || true
                    php .github/recipes-checker-main/run generate:recipes-readme index.json --contrib > RECIPES.md
                    git add RECIPES.md
                    git commit -m 'Update Flex endpoint' || true
                    git push origin -f flex/main

